*{
	margin: 0;
	padding: 0;
	font-family: 'Open Sans', sans-serif;
}
body{
	background-color: #F7F9F9;
}

/** HEADER **/
header{
	transition: all 800ms ease;
}
header img{
	height: 100px;
	margin: 10px 50px;
}

/** MENU **/
nav, #menuMovil, #menuMovil2{
	position: absolute;
	top: 0;
	right: 0;
	height: 120px;
	margin-right: 50px;
	transition: all 800ms ease;
}
nav ul{
	list-style: none;
}
nav a, #menuMovil a, #menuMovil2 a{
	color: #FFF;
	display: inline-block;
	padding: 31px;
	text-align: center;
	font-size: 1.4em;
	text-decoration: none;
	text-transform: uppercase;
	transition: all 800ms ease;
}
nav a:hover, #menuMovil a:hover, #menuMovil2 a:hover{
    -webkit-transform:scale(1.1);
    transform:scale(1.1);
}
#menuMovil, #menuMovil2{
	height: 200px;
	width: 200px;
	display: none;
}
#menuMovil a, #menuMovil2 a{
	width: 100%;
	margin: 0;
	padding: 0;
	font-size: 500%;
	line-height: 200px;
}

/** SECTION **/
section{
	width: 60%;
	margin: 100px 20%;
}
section h1{
	margin: 25px 1%;
	font-size: 2.3em;
	text-shadow: 1.5px 1.5px 1.5px #7A7A7A;
	text-align: center;
}

/** FOOTER **/
footer{
	position: fixed;
	bottom: 0;
	width: 100%;
	color: #FFF;
	text-align: center;
	padding: 8px 0;
	transition: all 800ms ease;
}

/** VERIFICACION **/
#verificacionCodigo{
	overflow: hidden;
	width: 20%;
	margin: 50px 40%;
}
#verificacionEmail{
	display: none;
	overflow: hidden;
	width: 40%;
	margin: 50px 30%;
}
#verificacionCodigo input, #verificacionEmail input{
	float: left;
	width: 60%;
	border: none;
	border-radius: 5px 0 0 5px;
	text-align: center;
	padding: 10px 0;
	font-size: 90%;
	text-transform: uppercase;
}
#verificacionCodigo input[type="button"], #verificacionEmail input[type="button"]{
	width: 39.5%;
	background-color: #9FD120;
	border-radius: 0 5px 5px 0;
	font-weight: bold;
	color: #FFF;
	text-shadow: 1.5px 1.5px 1.5px #7A7A7A;
	transition: all 1500ms ease;
}
#verificacionCodigo input[type="button"]:hover, #verificacionEmail input[type="button"]:hover{
    background-color: #FFBA00;
}
#verificacionBotonera{
	overflow: hidden;
	width: 50%;
	margin: 50px 25%;
}
#verificacionBotonera button{
	width: 39%;
	margin: 20px 5%;
	border-radius: 5px;
	border: none;
	padding: 8px 0;
	font-weight: bold;
	color: #FFF;
	background-color: #FFBA00;
	text-shadow: 1.5px 1.5px 1.5px #7A7A7A;
	transition: all 800ms ease;
}
#verificacionBotonera button:hover{
    -webkit-transform:scale(1.05);
    transform:scale(1.05);
    box-shadow: 0 0 1em #797D7F;
}
#alertaPantalla{
	display: none;
	width: 100%;
	height: 2000px;
	background-color: rgba(23, 32, 42, 0.8);
	position: fixed;
	top: 0;
}
#alertaMensaje{
	display: none;
	position: fixed;
	top: 250px;
	width: 50%;
	margin: 0 25%;
	border: 2px solid;
	border-radius: 20px;
	padding: 50px 0;
	text-align: center;
	background-color: #F2F3F4;
}
#alertaMensaje h2{
	margin-bottom: 20px;
	color: #BC0000;
	text-transform: uppercase;
}
#alertaMensaje h3{
	margin: 10px 0;
}
#alertaMensaje button{
	margin-top: 50px;
	padding: 10px 20px;
	font-size: 1.2em;
	border: none;
	border-radius: 15px;
	background-color: #9FD120;
	color: #FFF;
	text-transform: uppercase;
	text-shadow: 1.5px 1.5px 1.5px #7A7A7A;
	font-weight: bold;
}

/** COMPLETA PERFIL **/
#completaPerfil{
	width: 90%;
	margin: 50px 5%;
}
#completaPerfil span{
	display: none;
}
#completaPerfil ul{
	width: 100%;
	margin: 15px 0;
	list-style: none;
}
#completaPerfil li{
	width: 98%;
	margin: 2px 1%;
}
#completaPerfil input, #completaPerfil textarea{
	width: 96%;
	padding: 2%;
	border-radius: 10px;
	border: 1px solid;
}
#completaPerfil textarea{
	height: 120px;
	resize: none;
}
#completaPerfil input[type="button"]{
	width: 60%;
	padding: 2% 0;
	margin: 2% 20%;
	border: none;
	background-color: #FFBA00;
	font-weight: bold;
	text-transform: uppercase;
	font-size: 1.2em;
	text-shadow: 1.5px 1.5px 1.5px #7A7A7A;
	transition: all 800ms ease;
}
#completaDatos input[type="button"]{
	width: 100%;
	padding: 2% 0;
	margin: 0;
	border: none;
	background-color: #9FD120;
	font-weight: bold;
	text-transform: none;
	text-shadow: 1.5px 1.5px 1.5px #7A7A7A;
	font-size: 1em;
}
#completaDatos input[type="button"]:hover{
	background-color: #FFBA00;
}
#completaGuardar:hover{
    -webkit-transform:scale(1.05);
    transform:scale(1.05);
    box-shadow: 0 0 1em #797D7F;
}
#completaDatos{
	overflow: hidden;
}
#completaDatos ul{
	float: left;
}
#fotoUser{
	margin: auto;
	width: 100%;
	height: 150px;
	background-image: url('../images/usuarios/plantilla.png');
	background-size: 100%;
	background-position: center;
	background-repeat: no-repeat;
	background-color: #DDDDDD;
}
#completaDatos #completaDatosFoto{
	width: 20%;
	margin-right: 5%;
}
#completaDatos #completaDatosBio{
	width: 74.5%;
}
#completaDireccion{
	width: 100%;
	overflow: hidden;
}
#completaDireccion ul{
	width: 50%;
	float: left;
}
#completaDireccion li{
	width: 96%;
	padding: 0.5% 2%;
	margin: 2px 0;
}
#completaDireccion input{
	width: 92%;
	padding: 4%;
	border-radius: 10px;
	border: 1px solid;
}
#completaTema{
	width: 100%;
	overflow: hidden;
	text-align: center;
}
#completaTema input[type="button"]{
	width: 80px;
	height: 80px;
	margin: 20px;
	border: 4px solid #909497;
	text-shadow: 1.5px 1.5px 1.5px #7A7A7A;
}

/** INDEX **/
#misCursos, #otrosCursos{
	width: 100%;
	margin-bottom: 50px;
}
#misCursos h2 a, #otrosCursos h2 a{
	display: inline-block;
	text-decoration: none;
	transition: all 800ms ease;
	margin-bottom: 25px;
	text-transform: uppercase;
}
#misCursos h2 a:hover, #otrosCursos h2 a:hover{
    font-size: 1.1em;
    text-shadow: 0 0 1em #797D7F;
}
#cursosPlegables1, #cursosPlegables2{
	display: inline-block;
	width: 95%;
	padding: 0 2.5%;
	overflow: hidden;
}
.tarjetaMiCurso, .tarjetaOtroCurso{
	width: 39.5%;
	margin: 25px 2.5%;
	padding: 25px 2.5%;
	border-radius: 20px;
	overflow: hidden;
    box-shadow: 0 0 1em #797D7F;
	background-color: #ECF0F1;
	float: left;
}
.tarjetaMiCurso{
	min-height: 320px;
	max-height: 320px;
}
.tarjetaOtroCurso{
	min-height: 350px;
	max-height: 350px;
}
.imagenTarjetaCurso{
	width: 100%;
	margin: 0;
	text-align: center;
}
.imagenTarjetaCurso span{
	display: inline-block;
	width: 150px;
	height: 150px;
	background-repeat: no-repeat;
	background-position: center;
	background-size: 100%;
	border-radius: 20px;
}
.datosTarjetaCurso{
	width: 100%;
	text-align: center;
}
.datosTarjetaCurso h3{
	text-transform: uppercase;
	margin-bottom: 5px;
}
.botonTarjetaCurso{
	width: 100%;
}
.botonTarjetaCurso button{
	width: 60%;
	margin: 10px 20% 0 20%;
	padding: 5px 0;
	font-size: 1em;
	text-transform: uppercase;
	font-weight: bold;
	border: none;
	border-radius: 10px;
	color: #FFF;
	text-shadow: 1.5px 1.5px 1.5px #7A7A7A;
	transition: all 800ms ease;
}
.botonTarjetaCurso button:hover{
	-webkit-transform:scale(1.05);
    transform:scale(1.05);
    box-shadow: 0 0 1em #797D7F;
}
.infoTarjetaCurso{
	width: 100%;
	margin-top: 10px;
	overflow: hidden;
}
.infoTarjetaCurso h3{
	display: inline-block;
	width: 50%;
	text-align: center;
	float: left;
	font-size: 1.5em;
	font-weight: bold;
}

/** PERFIL **/
#tarjetaPerfil{
	width: 100%;
	padding: 5px 0 30px 0;
	border: 1px solid #E5E7E9;
	border-radius: 15px;
	background-color: #F2F3F4;
}
#tarjetaPerfil hr{
	width: 80%;
	margin: 50px 10%;
}
#tarjetaPerfil h3, #tarjetaPerfil p{
	margin: 5px 5%;
}
#imagenPerfil{
	width: 100%;
	margin: 0;
	text-align: center;
}
#imagenPerfil span{
	display: inline-block;
	width: 350px;
	height: 350px;
	border: 8px solid;
	background-repeat: no-repeat;
	background-position: center;
	background-size: 100%;
	border-radius: 100%;
    box-shadow: 0 0 1em #979A9A;
	transition: all 800ms ease;
}
#cambiaFotoPerfil{
	color: #f2f3f4; 
	transition: all 800ms ease;
	font-weight: bold;
}
#datosPerfil{
	width: 100%;
	text-align: center;
    text-shadow: 0 0 1em #979A9A;
}
#datosPerfil h2{
	text-transform: uppercase;
	margin: 25px 0;
}
#datosPerfil textarea{
	resize: none;
	width: 90%;
	height: auto;
	text-align: center;
	font-size: 1em;
	border: none;
	background-color: rgba(0,0,0,0);
	text-shadow: 0 0 0.5em #979A9A;
}
#redesPlegablePerfil a{
	display: inline-block;
	text-decoration: none;
	margin: 25px 0;
}
#redesPerfil{
	width: 90%;
	padding: 30px 5%;
	overflow: hidden;
	border: 1px solid #E5E7E9;
	border-radius: 15px;
	background-color: #F2F3F4;
}
#personalPerfil{
	width: 90%;
	margin: 0 5%;
	padding: 10px 0;
	overflow: hidden;
}
#redesPerfil ul, #personalPerfil ul{
	width: 40%;
	margin: 5px 5%;
	float: left;
	list-style: none;
}
#redesPerfil li, #personalPerfil li{
	width: 100%;
}
#redesPerfil label, #personalPerfil label{
	display: inline-block;
	margin: 5px;
}
#redesPerfil input, #personalPerfil input{
	width: 95%;
	padding: 2.5%;
	border: 1px solid;
	border-radius: 10px;
}
#redesPerfil input[type="submit"], #personalPerfil input[type="submit"]{
	width: 35%;
	margin: 25px 32% 0 32%;
	padding: 1% 0.5%;
	border: none;
	border-radius: 10px;
	font-size: 1.05em;
	font-weight: bold;
	text-transform: uppercase;
	color: #FFF;
	text-shadow: 1.5px 1.5px 1.5px #7A7A7A;
	transition: all 800ms ease;
}
#redesPerfil input[type="submit"]:hover, #personalPerfil input[type="submit"]:hover{
	-webkit-transform:scale(1.05);
    transform:scale(1.05);
    box-shadow: 0 0 1em #797D7F;
}

/** AYUDA **/
#ayudaView button{
	width: 20%;
	margin: 25px 40%;
	margin-top: 0;
	padding: 8px 0;
	font-size: 1em;
	font-weight: bold;
	text-transform: uppercase;
	border: none;
	border-radius: 10px;
	color: #FFF;
	text-shadow: 1.5px 1.5px 1.5px #7A7A7A;
	transition: all 800ms ease;

}
#ayudaView button:hover{
	-webkit-transform:scale(1.05);
    transform:scale(1.05);
    box-shadow: 0 0 1em #797D7F;
}
#ayudaView h3 a{
	display: inline-block;
	text-decoration: none;
    text-shadow: 0 0 1em #B3B6B7;
	font-size: 1.2em;
	margin: 10px 0;
	transition: all 800ms ease;
}
#ayudaView h3 a:hover{
	-webkit-transform:scale(1.05);
    transform:scale(1.05);
}
#ayudaView p{
	margin: 2.5%;
	text-align: justify;
	transition: all 800ms ease;
}
#ayudaView img{
	width: 80%;
	margin: 0 10%;
	text-align: justify;
	transition: all 800ms ease;
}
#formConsulta{
	display: none;
	width: 80%;
	margin: 0 10%;
}
#formConsulta ul{
	list-style: none;
	width: 100%;
	margin: 25px 0;
}
#formConsulta li{
	list-style: none;
	width: 50%;
	margin: 5px 25%;
}
#formConsulta label{
	display: inline-block;
	margin-left: 5px;
}
#formConsulta input{
	width: 95%;
	padding: 10px 2.5%;
	border: 1px solid;
	border-radius: 10px;
}
#formConsulta textarea{
	width: 95%;
	height: 80px;
	padding: 10px 2.5%;
	border: 1px solid;
	border-radius: 10px;
	resize: none;
}
#formConsulta input[type="button"]{
	width: 40%;
	margin: 0 30%;
	font-weight: bold;
	text-transform: uppercase;
	font-size: 1em;
	border: none;
	color: #FFF;
	text-shadow: 1.5px 1.5px 1.5px #7A7A7A;
	transition: all 800ms ease;
}
#formConsulta input[type="button"]:hover{
	-webkit-transform:scale(1.05);
    transform:scale(1.05);
    box-shadow: 0 0 1em #797D7F;
}

/** MATRICULA **/
#tarjetaCurso{
    width: 80%;
    margin: 50px 5%;
    padding: 50px 5%;
    border-radius: 20px;
    overflow: hidden;
    box-shadow: 0 0 0.5em #797D7F;
    background-color: #ECF0F1;
}
#imagenCurso{
    width: 20%;
    text-align: center;
    float: left;
}
#imagenCurso span{
    display: inline-block;
    width: 200px;
    height: 200px;
    background-repeat: no-repeat;
    background-position: center;
    background-size: 100%;
    border-radius: 20px;
    background-color: #DDDDDD;
}
#datosCurso{
    width: 70%;
    float: right;
    text-align: center;
}
#datosCurso p{
	font-size: 1.1em;
    margin: 15px 0;
}
#infoCurso{
    width: 100%;
    padding: 15px 0;
    overflow:  hidden;
}
#infoCurso h3, #infoCurso h4{
	font-size: 2em;
	float: left;
    width: 30%;
    margin: 0 9%;
    font-weight: bold;
    color: #A00;
	text-shadow: 1.5px 1.5px 1.5px #7A7A7A;
}
#matriculaForm{
	width: 90%;
	margin: 50px 5%;
}
#matriculaForm hr{
	height: 2px;
	background-color: #7B7D7D;
	border: none;
	border-radius: 5px;
}
#matriculaForm ul{
	width: 100%;
	margin: 15px 0;
	padding: 0;
	list-style: none;
}
#matriculaForm li{
	width: 100%;
	margin: 2px 0;
}
#matriculaForm input[type="text"], #matriculaForm input[type="number"], #matriculaForm select{
	width: 97%;
	padding: 1.5%;
	border-radius: 10px;
	border: 1px solid;
}
#matriculaForm select{
	width: 100%;
	background-color: #FFF;
}
#matriculaForm select option{
	width: 100%;
	line-height: 50px;
	text-transform: uppercase;
	font-family: 'Bungee Hairline', cursive;
	font-weight: bold;
	font-size: 1.3em;
}
#opcionesTarjeta{
	width: 100%;
	display: none;
}
#opcionesTarjeta h2, #nuevaTransferencia h2{
	color: #FFBA00;
	margin: 25px 0 25px 0;
	text-shadow: 1px 1px 1px #7A7A7A;
}
#opcionesTarjeta ul{
	width: 90%;
	margin: 5px 5%;
	overflow: hidden;
	list-style: none;
	border-radius: 15px;
	transition: all 800ms ease;
}
#opcionesTarjeta ul:hover{
	-webkit-transform:scale(1.05);
    transform:scale(0.95);
}
#opcionesTarjeta li{
	width: auto;
	padding: 10px;
	float: left;
	font-weight: bold;
	text-shadow: 0.8px 0.8px 0.8px #7A7A7A;
}
#nuevaTarjeta{
	display: none;
	width: 50%;
	margin: 50px 20%;
	padding: 25px 5%;
	border: solid 2px #FFBA00;
	border-radius: 10px;
	background-color:#31B5DD;
	background-image: url('../images/tarjeta.png');
	background-size: 100%;
	color:#FFF;
	text-shadow: 1.5px 1.5px 1.5px #7A7A7A;
    box-shadow: 0 0 1em #797D7F;
}
#nuevaTarjeta h2{
	font-size: 2em;
	margin-bottom: 30px;
}
#nuevaTarjeta input{
	border-color: #FFBA00 !important;
}
#datosTarjeta{
	width: 100%;
	overflow: hidden;
}
#datosTarjeta ul{
	width: 25%;
	margin-right: 12.4%;
	float: left;
}
#datosTarjeta input, #datosTarjeta select{
	width: 90% !important;
	padding: 5% !important;
	border-color: #FFBA00 !important;
}
#botonesTarjeta{
	width: 100%;
	overflow: hidden;
}
#botonesTarjeta li{
	width: 50%;
	float: left;
}
#botonesTarjeta input[type="button"]{
	width: 50%;
	margin: 0 25%;
	margin-top: 25px;
	padding: 10px 0;
	border: none;
	border-radius: 15px;
	font-size: 1em;
	font-weight: bold;
	color: #FFF;
	text-shadow: 1.5px 1.5px 1.5px #7A7A7A;
	background-color: #A80707;
	transition: all 800ms ease;
}
#botonesTarjeta input[type="button"]:hover{
	-webkit-transform:scale(1.05);
    transform:scale(1.05);
    box-shadow: 0 0 1em #797D7F;
}
#nuevaTransferencia{
	display: none;
	width: 100%;
}
#nuevaTransferencia p{
	width: 95%;
	margin: 0 2.5%;
	text-align: justify;
}
#nuevaTransferencia ul{
	width: 95%;
	margin: 2.5%;
}
#nuevaTransferencia li{
	margin: 10px 0;
}
#nuevaTransferencia label{
	font-weight: bold;
}
#nuevaTransferencia input[type="button"]{
	width: 200px;
	border: none;
	border-radius: 15px;
	padding: 10px 0;
	font-weight: bold;
	font-size: 0.9em;
	text-transform: uppercase;
	background-color: #FFBA00;
	color: #FFF;
	text-shadow: 1.5px 1.5px 1.5px #7A7A7A;
	transition: all 800ms ease;
}
#nuevaTransferencia input[type="button"]:hover{
	-webkit-transform:scale(1.05);
    transform:scale(1.05);
    box-shadow: 0 0 1em #797D7F;
}
#botonesPago{
	display: none;
	width: 100%;
}
#botonesPago hr{
	width: 80%;
	margin: 25px 10%;
}
#botonesPago input[type="button"]{
	width: 50%;
	margin: 25px 25%;
	border: none;
	border-radius: 25px;
	padding: 20px 0;
	font-weight: bold;
	font-size: 1.1em;
	text-transform: uppercase;
	background-color: #9FD120;
	color: #FFF;
	text-shadow: 1.5px 1.5px 1.5px #7A7A7A;
	transition: all 800ms ease;
}
#botonesPago input[type="button"]:hover{
	-webkit-transform:scale(1.05);
    transform:scale(1.05);
    box-shadow: 0 0 1em #797D7F;
}
#notificacionesBtn{
	width: 20% !important;
	margin: 15px 40% !important;
	border-radius: 15px !important;
	padding: 10px 0 !important;
	font-size: 0.9em !important;
}

/** AJUSTES **/
#ajustesView h3 a{
	display: inline-block;
	text-decoration: none;
    text-shadow: 1px 1px 1px #B3B6B7;
	font-size: 1.2em;
	margin: 50px 0 25px 0;
	transition: all 800ms ease;
}
#ajustesView h3 a:hover{
	-webkit-transform:scale(1.05);
    transform:scale(1.05);
}
#temaAjustes, #passAjustes, #notificacionesAjustes{
	background-color: #ECF0F1;
	width: 90%;
	padding: 5%;
	text-align: justify;
	border-radius: 20px;
}
#passAjustes ul, #notificacionesAjustes ul{
	list-style: none;
	width: 100%;
	margin: 15px 0;
}
#passAjustes li, #notificacionesAjustes li{
	width: 100%;
	margin: 5px 0;
}
#passAjustes input[type="password"]{
	width: 97%;
	padding: 1.5%;
	border: 1px solid;
	border-radius: 15px;
}
#temaAjustes input[type="button"]{
	
	border-radius: 15px;
}
#temaAjustes input[type="submit"], #passAjustes input[type="button"]{
	width: 30%;
	margin: 25px 35%;
	margin-bottom: 0;
	padding: 10px 0;
	font-size: 1.2em;
	font-weight: bold;
	text-transform: uppercase;
	border: none;
	border-radius: 15px;
	color: #FFF;
	text-shadow: 1.5px 1.5px 1.5px #7A7A7A;
	transition: all 800ms ease;
}
#temaAjustes input[type="submit"]:hover, #passAjustes input[type="button"]:hover{
	-webkit-transform:scale(1.05);
    transform:scale(1.05);
    box-shadow: 0 0 1em #797D7F;
}
#notificacionesAjustes input[type="button"]{
	width: 25%;
	padding: 10px 0;
	font-size: 0.9em;
	border: none;
	border-radius: 15px;
	color: #FFF;
	text-shadow: 1.5px 1.5px 1.5px #7A7A7A;
	font-weight: bold;
}


/* ---------- RESPONSIVE --------- */
@media screen and (max-width:1920px){
	/** HEADER **/
	header img{
		height: 60px;
		margin: 10px 50px;
	}
	
	/** MENU **/
	nav{
		height: 80px;
	}
	nav a{
		padding: 16px 20px;
		font-size: 1.2em;
	}
	/** SECTION **/
	section{
		width: 75%;
		margin: 50px 12.5%;
		margin-bottom: 100px;
	}
	/** FOOTER **/
	footer{
		padding: 2px 0;
		font-size: 0.8em;
	}
	/** VERIFICACION **/
	#alertaMensaje{
		top: 100px;
	}
	/** MATRICULA **/
	#nuevaTarjeta{
		display: none;
		width: 60%;
		margin: 50px 15%;
		padding: 25px 5%;
	}
	#notificacionesBtn{
		width: 30% !important;
		margin: 15px 35% !important;
	}
	/** PERFIL **/
	#imagenPerfil span{
		width: 300px;
		height: 300px;
	}
}

@media screen and (max-width:1024px){
	/** HEADER **/
	header img{
		height: 180px;
		margin: 10px 50px;
	}
	/** MENU **/
	nav{
		display: none;
	}
	#menuMovil{
		display: block;
	}
	nav{
		position: absolute;
		background-color: #152770;
		top: 200px;
		width: 100%;
		height: auto;
		margin: 0;
	}
	nav a{
		width: 100%;
		padding: 0;
		margin: 50px 0;
		color: #FFF;
		display: inline-block;
		text-align: center;
		font-size: 3em;
		text-decoration: none;
		text-transform: uppercase;
		transition: all 800ms ease;
	}
	/** SECTION **/
	section{
		width: 95%;
		margin: 100px 2.5%;
		margin-bottom: 250px;
		font-size: 1.4em;
	}
	section h1{
		font-size: 3.4em;
	}
	/** FOOTER **/
	footer{
		display: none;
	}

	/** VERIFICACION **/
	#verificacionCodigo{
		width: 60%;
		margin: 100px 20%;
	}
	#verificacionEmail{
		width: 90%;
		margin: 100px 5%;
	}
	#verificacionCodigo input, #verificacionEmail input{
		padding: 20px 0;
		font-size: 150%;
	}
	#verificacionBotonera{
		width: 95%;
		margin: 50px 2.5%;
	}
	#verificacionBotonera button{
		margin: 80px 5%;
		padding: 18px 0;
		font-size: 100%;
	}
	#alertaMensaje{
		top: 350px;
		width: 75%;
		margin: 0 7.5%;
		padding: 50px 5%;
		font-size: 2em;
		text-align: center;
		background-color: #F2F3F4;
	}

	/** COMPLETA PERFIL **/
	#completaPerfil{
		width: 95%;
		margin: 50px 2.5%;
		font-size: 2em;
	}
	#completaPerfil input, #completaPerfil textarea{
		font-size: 1.1em;
	}
	#completaPerfil textarea{
		height: 300px;
	}
	#completaPerfil input[type="button"]{
		width: 80%;
		margin: 10%;
		font-size: 1.5em;
	}
	#completaDatos input[type="button"]{
		width: 100%;
		padding: 2% 0;
		margin: 2% 0;
		font-size: 0.9em;
	}
	#fotoUser{
		height: 430px;
	}
	#completaDatos #completaDatosFoto{
		width: 50%;
		margin: 5% 25%;
	}
	#completaDatos #completaDatosBio{
		width: 100%;
	}
	#completaDireccion ul{
		width: 100%;
	}
	#completaDireccion li{
		width: 96%;
		padding: 0.5% 2%;
		margin: 2px 0;
	}
	#completaDireccion input{
		width: 96%;
		padding: 2%;
	}
	#completaDatos, #completaDireccion{
		font-size: 1.25em;
	}
	#completaDatos input, #completaDatos textarea, #completaDireccion input{
		font-size: 0.9em;
	}
	#completaTema input[type="button"]{
		width: 150px;
		height: 150px;
		margin: 25px;
	}

	/** INDEX **/
	#misCursos h2 a, #otrosCursos h2 a{
	    font-size: 1.5em;
	}
	#misCursos h2 a:hover, #otrosCursos h2 a:hover{
	    font-size: 1.6em;
	}
	.tarjetaMiCurso, .tarjetaOtroCurso{
		width: 90%;
	    box-shadow: 0 0 0.8em #797D7F;
	}
	.tarjetaMiCurso{
		min-height: 400px;
		max-height: 400px;
	}
	.tarjetaOtroCurso{
		min-height: 460px;
		max-height: 460px;
	}
	.imagenTarjetaCurso span{
		width: 200px;
		height: 200px;
	}
	.datosTarjetaCurso h3{
		font-size: 1.5em;
	}
	.datosTarjetaCurso p{
		font-size: 0.8em;
	}
	.botonTarjetaCurso button{
		margin: 20px 20% 0 20%;
		padding: 10px 0;
		font-size: 1.3em;
		border-radius: 12px;
	}

	/** MATRICULA **/
	#tarjetaCurso{
	    width: 90%;
	    margin: 50px 2.5%;
	    padding: 50px 2.5%;
	}
	#imagenCurso{
	    width: 80%;
	    margin: 0 10%;
	}
	#imagenCurso span{
	    width: 300px;
	    height: 300px;
	}
	#datosCurso{
	    width: 100%;
	    margin: 0;
	}
	#datosCurso p{
		font-size: 1em;
	}
	#infoCurso{
	    width: 100%;
	}
	#infoCurso h3, #infoCurso h4{
		font-size: 2.5em;
	    width: 49.5%;
	    margin: 0;
	}
	#matriculaForm{
		width: 95%;
		margin: 50px 2.5%;
	}
	#matriculaForm hr{
		height: 4px;
	}
	#matriculaForm input[type="text"], #matriculaForm input[type="number"], #matriculaForm select{
		border-radius: 20px;
		font-size: 2em;
		background-color: #FFF;
	}
	#opcionesTarjeta h2{
		font-size: 2em;
	}
	#opcionesTarjeta ul{
		width: 100%;
		margin: 30px 0;
		border-radius: 20px;
		font-size: 1.4em;
	}
	#opcionesTarjeta li{
		padding: 20px 10px;
	}
	#nuevaTarjeta{
		width: 90%;
		margin: 100px 0;
		padding: 25px 5%;
		border-radius: 25px;
	}
	#nuevaTarjeta h2{
		font-size: 2.5em;
		margin-bottom: 30px;
	}
	#nuevaTarjeta label{
		font-size: 1.6em;
	}
	#botonesTarjeta input[type="button"]{
		width: 90%;
		margin: 0 5%;
		margin-top: 50px;
		padding: 20px 0;
		border-radius: 30px;
		font-size: 1.8em;
	}
	#nuevaTransferencia input[type="button"]{
		width: 350px;
		border-radius: 30px;
		padding: 20px 0;
		font-size: 1.5em;
	}
	#botonesPago input[type="button"]{
		width: 80%;
		margin: 25px 10%;
		border-radius: 40px;
		padding: 30px 0;
		font-size: 2em;
	}
	#notificacionesBtn{
		width: 60% !important;
		margin: 60px 20% !important;
		border-radius: 30px !important;
		padding: 15px 0 !important;
		font-size: 1.5em !important;
	}
	
	/** PERFIL **/
	#tarjetaPerfil{
		border: none;
		background-color: #f7f9f9;
		font-size: 1.2em;
	}
	#tarjetaPerfil h3{
		font-size: 1.3em;
	}
	#tarjetaPerfil hr{
		width: 90%;
		margin: 50px 5%;
	}
	#imagenPerfil span{
		width: 500px;
		height: 500px;
	}
	#cambiaFotoPerfil{
		color: #000;
		font-size: 1.5em;
	}
	#cambiaFotoPerfil p{
		font-size: 1em;
	}
	#datosPerfil textarea{
		height: 250px;
	}
	#redesPlegablePerfil a{
		margin: 25px;
		font-size: 1.5em;
	}
	#redesPerfil{
		border: none;
		background-color: #f7f9f9;
	}
	#redesPerfil ul, #personalPerfil ul{
		width: 99.5%;
		margin: 15px 0;
		font-size: 1.5em;
	}
	#redesPerfil input, #personalPerfil input{
		border: 1px solid #797D7F;
		border-radius: 20px;
		font-size: 1.1em;
	}
	#redesPerfil input[type="submit"], #personalPerfil input[type="submit"]{
		width: 60%;
		margin: 25px 20%;
		padding: 2.5% 0;
		border-radius: 20px;
		font-size: 1.5em;
	}
	/** AYUDA **/
	#ayudaView button{
		width: 60%;
		margin: 80px 20%;
		margin-top: 20px;
		padding: 20px 0;
		font-size: 2em;
		border-radius: 20px;
	}
	#ayudaView h3 a{
		font-size: 2em;
		margin: 20px 0;
	}
	#ayudaView p{
		margin: 2.5% 1%;
	}
	#ayudaView img{
		width: 90%;
		margin: 0 5%;
	}
	#formConsulta{
		width: 100%;
		margin: 0;
	}
	#formConsulta ul{
		list-style: none;
		width: 100%;
		margin: 25px 0;
	}
	#formConsulta li{
		list-style: none;
		width: 90%;
		margin: 5px 5%;
	}
	#formConsulta label{
		margin-left: 10px;
		font-size: 2em;
	}
	#formConsulta input{
		border-radius: 20px;
		font-size: 2em;
	}
	#formConsulta textarea{
		height: 300px;
		border-radius: 20px;
		font-size: 1.1em;
	}
	#formConsulta input[type="button"]{
		width: 60%;
		margin: 25px 20%;
		padding: 20px 0;
		font-size: 2em;
	}

	/** AJUSTES **/
	#ajustesView h3 a{
		font-size: 1.8em;
	}
	#temaAjustes, #passAjustes, #notificacionesAjustes{
		width: 95%;
		padding: 2.5%;
		border-radius: 25px;
	}
	#passAjustes ul, #notificacionesAjustes ul{
		margin: 25px 0;
	}
	#passAjustes input[type="password"]{
		font-size: 1.5em;
		width: 96%;
		padding: 2%;
		border-radius: 20px;
	}
	#temaAjustes input[type="button"]{
		border-radius: 35px;
	}
	#temaAjustes input[type="submit"], #passAjustes input[type="button"]{
		width: 60%;
		margin: 25px 20%;
		padding: 15px 0;
		font-size: 2em;
		border-radius: 30px;
	}
	#notificacionesAjustes input[type="button"]{
		width: 50%;
		font-size: 1.5em;
		border-radius: 20px;
	}
}

@media screen and (max-width:700px){
	/** HEADER **/
	header img{
		height: 80px;
		margin: 10px 25px;
	}
	/** MENU **/
	nav{
		display: none;
	}
	#menuMovil{
		display: block;
	}
	#menuMovil, #menuMovil2{
		height: 50px;
		width: 50px;
	}
	#menuMovil a, #menuMovil2 a{
		font-size: 2.5em;
		line-height: 100px;
	}
	nav{
		top: 100px;
	}
	nav a{
		margin: 38px 0;
		font-size: 1.5em;
	}
	/** SECTION **/
	section{
		width: 95%;
		margin: 25px 2.5%;
		margin-bottom: 100px;
		font-size: 1.2em;
	}
	section h1{
		font-size: 2.1em;
	}

	/** VERIFICACION **/
	#verificacionCodigo, #verificacionEmail{
		width: 90%;
		margin: 50px 5%;
	}
	#verificacionCodigo input, #verificacionEmail input{
		padding: 20px 0;
		font-size: 1em;
	}
	#verificacionBotonera{
		width: 95%;
		margin: 50px 2.5%;
	}
	#verificacionBotonera button{
		width: 80%;
		margin: 20px 10%;
		padding: 10px 0;
		font-size: 1em;
		border-radius: 10px;
	}
	#alertaMensaje{
		top: 200px;
		width: 80%;
		margin: 0 5%;
		padding: 50px 5%;
		font-size: 1em;
	}

	/** COMPLETA PERFIL **/
	#completaPerfil{
		margin: 25px 2.5%;
		font-size: 1em;
	}
	#completaPerfil input, #completaPerfil textarea{
		font-size: 1em;
	}
	#completaPerfil textarea{
		height: 150px;
	}
	#completaPerfil input[type="button"]{
		margin: 25px 10% 100px 10%;
		font-size: 1.3em;
	}
	#completaDatos input[type="button"]{
		width: 100%;
		padding: 2% 0;
		margin: 2% 0;
		font-size: 0.9em;
	}
	#fotoUser{
		height: 180px;
	}
	#completaDatos, #completaDireccion{
		font-size: 1em;
	}
	#completaDatos input, #completaDatos textarea, #completaDireccion input{
		font-size: 1em;
	}
	#completaTema input[type="button"]{
		width: 70px;
		height: 70px;
		margin: 5px;
	}

	/** INDEX **/
	#misCursos h2 a, #otrosCursos h2 a{
	    font-size: 0.9em;
	}
	#misCursos h2 a:hover, #otrosCursos h2 a:hover{
	    font-size: 0.95em;
	}
	.tarjetaMiCurso, .tarjetaOtroCurso{
		width: 89.5%;
	    font-size: 0.85em;
		margin: 10px 2.5%;
		padding: 10px 2.5%;
	    box-shadow: 0 0 0.5em #797D7F;
	}
	.tarjetaMiCurso, .tarjetaOtroCurso{
		min-height: auto;
		max-height: auto;
	}
	.imagenTarjetaCurso{
		width: 30%;
		margin: 0 35%;
	}
	.imagenTarjetaCurso span{
		width: 85px;
		height: 85px;
	}
	.datosTarjetaCurso{
		width: 100%;
		text-align: center;
		float: right;
	}
	.datosTarjetaCurso h3{
		font-size: 1.2em;
	}
	.datosTarjetaCurso p{
		font-size: 0.7em;
	}
	.botonTarjetaCurso button{
		width: 60%;
		margin: 10px 20% 0 20%;
		padding: 8px 0;
		font-size: 1em;
	}

	/** MATRICULA **/
	#tarjetaCurso{
	    margin: 25px 2.5%;
	    padding: 2.5%;
	}
	#imagenCurso span{
	    width: 150px;
	    height: 150px;
	}
	#datosCurso p{
		font-size: 0.9em;
	}
	#infoCurso h3, #infoCurso h4{
		font-size: 1.5em;
	}
	#matriculaForm{
		margin: 25px 2.5%;
	}
	#matriculaForm hr{
		height: 3px;
	}
	#matriculaForm input[type="text"], #matriculaForm input[type="number"], #matriculaForm select{
		border-radius: 10px;
		font-size: 1em;
	}
	#opcionesTarjeta h2{
		font-size: 1.3em;
	}
	#opcionesTarjeta ul{
		margin: 10px 0;
		border-radius: 10px;
		font-size: 0.68em;
	}
	#opcionesTarjeta li{
		padding: 10px 5px;
	}
	#nuevaTarjeta{
		margin: 30px 0;
		border-radius: 15px;
	}
	#nuevaTarjeta h2{
		font-size: 1.5em;
		margin-bottom: 15px;
	}
	#nuevaTarjeta label{
		font-size: 1em;
	}
	#datosTarjeta ul{
		margin: 0;
		margin-right: 12.4%;
	}
	#botonesTarjeta input[type="button"]{
		margin-top: 20px;
		padding: 10px 0;
		border-radius: 15px;
		font-size: 1em;
	}
	#nuevaTransferencia input[type="button"]{
		width: 150px;
		border-radius: 15px;
		padding: 10px 0;
		font-size: 0.8em;
	}
	#botonesPago input[type="button"]{
		border-radius: 25px;
		padding: 20px 0;
		font-size: 1em;
	}
	#notificacionesBtn{
		width: 60% !important;
		margin: 60px 20% 10px 20% !important;
		border-radius: 15px !important;
		padding: 10px 0 !important;
		font-size: 0.7em !important;
	}

	/** PERFIL **/
	#tarjetaPerfil{
		font-size: 1em;
	}
	#tarjetaPerfil h3{
		font-size: 1.3em;
	}
	#tarjetaPerfil hr{
		margin: 25px 5%;
	}
	#imagenPerfil span{
		width: 250px;
		height: 250px;
	}
	#cambiaFotoPerfil{
		font-size: 1em;
	}
	#datosPerfil textarea{
		height: 150px;
	}
	#redesPlegablePerfil a{
		margin: 5px;
		font-size: 1em;
	}
	#redesPerfil ul, #personalPerfil ul{
		width: 99.5%;
		font-size: 1em;
	}
	#redesPerfil input, #personalPerfil input{
		border-radius: 15px;
		font-size: 1em;
	}
	#redesPerfil input[type="submit"], #personalPerfil input[type="submit"]{
		border-radius: 15px;
		font-size: 1.2em;
	}
	/** AYUDA **/
	#ayudaView button{
		width: 60%;
		margin: 20px 20%;
		padding: 10px 0;
		font-size: 1em;
		border-radius: 15px;
	}
	#ayudaView h3 a{
		font-size: 1.15em;
		margin: 15px 0;
	}
	#ayudaView p{
		margin: 2.5% 1%;
		font-size: 0.9em;
	}
	#formConsulta ul{
		list-style: none;
		width: 100%;
		margin: 25px 0;
	}
	#formConsulta li{
		list-style: none;
		width: 90%;
		margin: 5px 5%;
	}
	#formConsulta label{
		margin-left: 5px;
		font-size: 1.2em;
	}
	#formConsulta input{
		border-radius: 10px;
		font-size: 1em;
	}
	#formConsulta textarea{
		height: 150px;
		border-radius: 10px;
		font-size: 1.1em;
	}
	#formConsulta input[type="button"]{
		width: 60%;
		margin: 10px 20%;
		padding: 10px 0;
		font-size: 1em;
	}

	/** AJUSTES **/
	#ajustesView h3 a{
		font-size: 1.1em;
	}
	#temaAjustes, #passAjustes, #notificacionesAjustes{
		border-radius: 15px;
	}
	#passAjustes ul, #notificacionesAjustes ul{
		margin: 25px 0;
	}
	#passAjustes input[type="password"]{
		font-size: 1em;
		border-radius: 12px;
	}
	#temaAjustes input[type="button"]{
		border-radius: 15px;
	}
	#temaAjustes input[type="submit"], #passAjustes input[type="button"]{
		padding: 10px 0;
		font-size: 1em;
		border-radius: 15px;
	}
	#notificacionesAjustes input[type="button"]{
		width: 55%;
		font-size: 0.8em;
		border-radius: 15px;
	}
}

@media screen and (min-width:1500px){
	#completaPerfil{
		width: 70%;
		margin: 0 15%;
	}
}

@media screen and (min-width:2000px){
	#completaPerfil{
		width: 55%;
		margin: 0 22.5%;
	}
}