header, nav, #ayudaView button, aside, #indexCampus, #asidePlegado, #asideMovilPlegado, #newComentarioCampus input[type="button"], #comprarTemaBtn{
	background-color: #58B616;
}
nav a:hover, #menuMovil a:hover, #menuMovil2 a:hover, .activo, #misCursos h2 a, #otrosCursos h2 a, section h1, #ayudaView h3 a, .tituloDesplegable a, #consultaTarjeta h4, aside li a:hover, #tituloH2, #precioTema{
	color: #FFBA00;
}
.botonTarjetaCurso button, .tarjetaCampus button, #redesPerfil input[type="submit"], #personalPerfil input[type="submit"], #formConsulta input[type="button"], #salirCampus a, #temaAjustes input[type="submit"], #passAjustes input[type="button"]{
	background-color: #FFBA00;
}
.infoTarjetaCurso h3, #redesPlegablePerfil a, #ajustesView h3 a, .tarjetaCampus h3{
	color: #58B616;
}
#imagenPerfil span{
	border-color: #FFBA00;
}
footer{
	background-color: #58B616B3;
}